<h2>Nueva ficha <%= link "<- Atrás", to: file_path(@conn, :index), class: "btn btn-primary btn-small" %></h2>
<%= render "form.html", changeset: @changeset,
                        action: file_path(@conn, :create) %>
