<h2>Show file</h2>

<ul>

  <li>
    <strong>Code:</strong>
    <%= @file.code %>
  </li>

  <li>
    <strong>Notes:</strong>
    <%= @file.notes %>
  </li>

</ul>

<%= link "Edit", to: file_path(@conn, :edit, @file) %>
<%= link "Back", to: file_path(@conn, :index) %>
